*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
:root{
        --primary-color: #150175;
        --primary-color-light: #417cc9;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    height: 12%;/*vh is viewport height in place of vh % can also be used */
    /*vh makes 12%of the total screen while %makes 12% of the parent that is main*/
    background-color: white ;
    width: 100% ;
    position: fixed; /*position fixed fixes the position of the header even if we scroll*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.texts{
    /* margin: 25px; */
    color: #052d61;
    font-size: 16px;
    font-weight: 550;
    margin-right: -25px;
}
.texts:hover{
    color: #0076d3;
}
#logo{
    margin-left: 25px;
    height: 55%;
    /* margin: 25px; */
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#fakeheader{
    height: 12%;
    width: 100% ;
    background-color: white;
}
#contact{
    margin-left: 80px;
    color: #052d61;
    font-weight: lighter;
    line-height: 25px;
}
#contact:hover{
    color: #0077D2;
}
#icon2{
    margin-left: -20px;
}
.icons{
    color: #052d61;
    /* margin-left: 20px; */
    font-weight: bolder;
    font-size: large;
    padding: 9px;
    border-radius: 50%; 
}
.icons:hover{
    background-color: #ebf4fe;
    color: #0077D2;
}
#login{
    margin-left: -20px;
    font-size: larger;
    color:#052d61;
    padding: 10px;
    border-radius: 50px;
}
#login:hover{
    background-color: #ebf4fe;
    color: #0077D2;
}
#try{
    height: 40%;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 5%;
    color: white;
    margin-left: -5px;
}
#try:hover{
    background-color: rgb(2, 62, 7);
}
#page1{
    height: 88%;
    width: 100%;
}
#top{
    height: 6.5%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#top img{
    padding-right: 20px;
}
#top p{
    font-weight: 100;
}
#middle{
    height: 61.5%;
    display: flex;
}
#left{
    width: 40%;
    margin: 80px;
}
#left h1{
    font-size: 60px;
    font-weight: bolder;
    color: #150175;
}
#left p{
    font-size: 20px;
    font-weight: 300;
}
.buttons{
    display: flex;
}
#start{
    background-color: #0077D2;
    color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 28px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 3px;
}
#start:hover{
    background-color: #052d61;
}
#watch{
    border: 2px solid ;
    border-color: #0077D2;
    border-radius: 3px;
    color: #0077D2;
    background-color: white;
    margin: 35px;
    margin-left: 1px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
#watch:hover{
    background-color: #ebf4fe;
    border-color: black;
    color: black;
}
#right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    display: block;
}
#down{
    font-size: 42px;
    text-align: center;
    height: 20%;
    width: 60%;
    margin-top: 95px;
    margin-left: 300px;
    margin-right: 220px;
    color: #150175;
    font-weight: 580;
}

#page2{
    height: 100%;
    width: 100%;
}
.block{
    display: flex;            /* Arrange boxes in a row */
    gap: 35px;                /* Small gap between boxes */
    /* justify-content: center; Center horizontally */
    height: 59%;            /* Total height for reference */
    margin-top: 115px;
    margin-left: 80px;
    margin-right: 80px;
}
.blocks{
    background-color: white;
    width: 70%;              /* Width of each box */
    height: 70%;            /* Height of each box (rectangular and standing) */
    border-radius: 18px;      /* Rounded corners */
    color: white;            /* Text color */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.blocks img{
    width: 100%;              /* Width of each box */
    height: 38%; 
    border-radius: 18px;
}
.block h3{
    color: #052D61;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: -35px;
    font-size: 20px;
}
.block p{
    color: black;
    font-weight: 300;
    text-align: left;
    margin: 30px;
}
#page2 img{
    width: 100%;
    height: 40%;
    margin-top: -140px;
}
#page3{
    height: 88%;
    width: 100%;
}